# Dependencies
node_modules/

# Build output
dist/

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
.DS_Store

# CodeBuddy
.codebuddy/

# OS files
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# npm debug logs
npm-debug.log*

# Package artifacts
*.tgz
package-lock.json